---
title: 关于我们
component: ContentPage
---
p.
  上海番丽电子商务有限公司旗下的“Panli（www.panli.com）”，
  中国代购行业规模最大、成长最快、赢利能力最强的新锐企业之一。
p.
  Panli创建于2005年3月，由为海外留学生代购国内商品的购物论坛发展而来，依托自身广泛的信息平台及世界范围内的物流网络，
  向海外消费者提供以互联网为基础、以便利消费者为宗旨的全国代购服务。
p.
  Panli CEO潘晓是“家”文化的倡导者，秉承“快乐生活 创新工作”的理念，为实现“足不出户、网购中国、全球配送”的目标，
  带领开拓进取的精英管理团队，构建了一个自由广阔、安全可靠的网络平台，
  为广大的海外消费者畅通无阻地进行中国大陆网络购物提供了全方位的解决方案，
  真正实现了无国界生活，“只有您想不到，没有我们做不到”。
