---
title: 注意事项
component: ContentPage
---
mixin breadcrumb
 ol
   li <a href="/">首页</a>
   li <a href="/privacy">Privacy</a>

p.p1#p1
  当您收到订购的商品时，请先核对包裹重量，如有疑问，
  请将包裹上的运输凭证(2张)拍照，把数码照片和相关情况的描述发E_mail给Panli客服；
